---
swagger: "2.0"
info:
  description: "<b>Spacetann API Documentation</b>\n The API uses the HMAC (hash-based message authentication code) to verify that a request is coming from an expected source and that the request has not been tampered with in transit. This is achieved by including both a public (x-api-key) and private key (key-secret) in each message, the latter of which is only known to the server and client. Using these values, the client will generate a unique HMAC (a hashed code) representing its request to the server. The client sends that HMAC (h-key) to the server, along with a timestamp and all the arguments and values it was going to send anyway.\n\nAll API call will require the x-api-key and h-key. The x-api-key and secrect code can be retrieved from the Spacetann Dashboard.\n\nExample of generation of h-key in nodejs:\n let h_key = crypto.createHmac('sha256','Secret Code').update(JSON.stringify('JSON Body Content')).digest('hex')\n\n[Node.js crypto.createHmac() Method](https://www.geeksforgeeks.org/node-js-crypto-createhmac-method/)"
  version: "1.0.1"
  title: "Spacetann API"
host: "api.spacetann.com"
basePath: "/v1"
schemes:
- https
paths:
  /ext/device:
    post:
      tags:
      - "device"
      summary: "List IOT devices configured"
      security: 
      - ApiKeyAuth: []
        HMACKey: []
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "List of IOT device"
        required: true
        schema:
          $ref: "#/definitions/GetDevice"
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/ListDevice'
        400:
          description: Invalid response
          schema:
            $ref: '#/definitions/InvalidResponse'
        405:
          description: "Invalid input"
  /ext/device/detail:
    post:
      tags:
      - "device"
      summary: "Get IOT device configuration details"
      security: 
      - ApiKeyAuth: []
        HMACKey: []
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Detail of IOT Device"
        required: true
        schema:
          $ref: "#/definitions/GetDeviceDetail"
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/DeviceDetail'
        400:
          description: Invalid response
          schema:
            $ref: '#/definitions/InvalidResponse'
        405:
          description: "Invalid input"
  /ext/device/status:
    post:
      tags:
      - "device"
      summary: "Get IOT device status"
      security: 
      - ApiKeyAuth: []
        HMACKey: []
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Status of IOT Device. No command will be send. The results are from last saved state."
        required: true
        schema:
          $ref: "#/definitions/GetDeviceDetail"
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/DeviceStatus'
        400:
          description: Invalid response
          schema:
            $ref: '#/definitions/InvalidResponse'
        405:
          description: "Invalid input"
  /ext/device/switch/binary/on:
    post:
      tags:
      - "device"
      summary: "Command for turn on IOT device"
      security: 
      - ApiKeyAuth: []
        HMACKey: []
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Turn on IOT Device"
        required: true
        schema:
          $ref: "#/definitions/GetDeviceDetail"
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/DeviceSwitch'
        400:
          description: Invalid response
          schema:
            $ref: '#/definitions/InvalidResponse'
        405:
          description: "Invalid input"
  /ext/device/switch/binary/off:
    post:
      tags:
      - "device"
      summary: "Command for turn off IOT device"
      security: 
      - ApiKeyAuth: []
        HMACKey: []
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Turn off IOT Device"
        required: true
        schema:
          $ref: "#/definitions/GetDeviceDetail"
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/DeviceSwitch'
        400:
          description: Invalid response
          schema:
            $ref: '#/definitions/InvalidResponse'
        405:
          description: "Invalid input"
  /ext/device/switch/status:  
    post:
      tags:
      - "device"
      summary: "Command for status of IOT device"
      security: 
      - ApiKeyAuth: []
        HMACKey: []
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Query status of IOT Device"
        required: true
        schema:
          $ref: "#/definitions/GetDeviceDetail"
      responses:
        200:
          description: Successful operation. Please note if processed = 0, the results are from last saved state.
          schema:
            $ref: '#/definitions/DeviceSwitch'
        400:
          description: Invalid response
          schema:
            $ref: '#/definitions/InvalidResponse'
        405:
          description: "Invalid input"
  /ext/device/battery/status:  
    post:
      tags:
      - "device"
      summary: "Command for battery status of IOT device"
      security: 
      - ApiKeyAuth: []
        HMACKey: []
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Query battery status of IOT Device"
        required: true
        schema:
          $ref: "#/definitions/GetDeviceDetail"
      responses:
        200:
          description: Successful operation. Please note if processed = 0, the results are from last saved state.
          schema:
            $ref: '#/definitions/DeviceBattery'
        400:
          description: Invalid response
          schema:
            $ref: '#/definitions/InvalidResponse'
        405:
          description: "Invalid input"
  /ext/device/door/unlock:
    post:
      tags:
      - "device"
      summary: "Command for unlock door device"
      security: 
      - ApiKeyAuth: []
        HMACKey: []
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "unlock door Device"
        required: true
        schema:
          $ref: "#/definitions/UnlockDoorInput"
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/DeviceSwitch'
        400:
          description: Invalid response
          schema:
            $ref: '#/definitions/InvalidResponse'
        405:
          description: "Invalid input"
  /ext/device/door/status:
    post:
      tags:
      - "device"
      summary: "Command for status door device"
      security: 
      - ApiKeyAuth: []
        HMACKey: []
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "status for door Device"
        required: true
        schema:
          $ref: "#/definitions/StatusDoorInput"
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/DeviceSwitch'
        400:
          description: Invalid response
          schema:
            $ref: '#/definitions/InvalidResponse'
        405:
          description: "Invalid input"
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    in: header
    name: x-api-key
  HMACKey:
    type: apiKey
    in: header
    name: h-key
definitions:
  GetDevice:
    type: object
    properties:
      api_id:
        type: string
        example: "Kx7wTKzom05IPiTxzDXx"
      timestamp:
        type: string
        example: "1665983159758"
    xml:
      name: "Device"
  GetDeviceDetail:
    type: object
    properties:
      api_id:
        type: string
        example: Kx7wTKzom05IPiTxzDXx
      uuid:
        type: string
        example: ed85d397-6316-400d-b02b-d75daeaf9400
      timestamp:
        type: string
        example: "1666664898886"
    xml:
      name: "DeviceDetail"
  ListDevice:
    type: object
    properties: 
      resultcode:
        type: string
        example: "100"
      data:
        type: array
        items:
          $ref: "#/definitions/DeviceData"
      message:
        type: string
        example: Successful
  DeviceData:
    type: object
    properties:
      uuid:
        type: string
        example: ed85d397-6316-400d-b02b-d75daeaf9400
      name:
        type: string
        example: Gateway Consumption
      devicetype_id:
        type: string
        example: k3NIz3upXqq08vdIHLXX
      device_type:
        type: string
        example: ZWave Smart Plug
      location_name:
        type: string
        example: Main Office
      site_name:
        type: string
        example: Paya Lebar Office
      status:
        type: string
      message:
        type: string
      feature:
        type: array
        items:
          $ref: "#/definitions/FeatureData"
      info:
        type: array
        items:
          $ref: "#/definitions/InfoData"
  FeatureData:
    type: object
    properties: 
      feature_id:
        type: integer
        example: 3
      feature_type:
        type: string
        example: ZWave
      name:
        type: string
        example: Get Binary Switch
      event:
        type: string
        example: ZW_SWITCH_BINARY_GET
      code:
        type: integer
        example: 102
      param:
        type: array
        items:
          $ref: "#/definitions/ParamData"
  ParamData:
    type: object
    properties: 
      external_url:
        type: string
        example: /v1/ext/device/switch/binary/on
      description:
        type: string
        example: Turn on switch
  InfoData:
    type: object
    properties: 
      parameter:
        type: string
        example: Battery
      status:
        type: string
        example: 30
      datetime:
        type: string
        example: 2023-03-09T11:24:55.000Z
  DeviceDetail:
    type: object
    properties: 
      resultcode:
        type: string
        example: "100"
      data:
        $ref: "#/definitions/DeviceData"
      message:
        type: string
        example: Successful
  DeviceStatus:
    type: object
    properties: 
      resultcode:
        type: string
        example: "100"
      data:
        type: object
        properties: 
          uuid:
            type: string
            example: ed85d397-6316-400d-b02b-d75daeaf9400
          name:
            type: string
            example: Gateway Consumption
          device_type:
            type: string
            example: ZWave Smart Plug
          site_name:
            type: string
            example: Paya Lebar Office
          location_name:
            type: string
            example: Main Office
          status:
            type: string
          updated_dt:
            type: string
            example: "2022-10-30T07:35:00.000Z"
          message:
            type: string
      message:
        type: string
        example: Successful
  InvalidResponse:
    type: object
    properties:
      resultcode:
        type: string
        example: "107"
      data:
        type: object
        example: null
      message:
        type: string
        example: "Unexpected Fail"
  DeviceSwitch:
    type: object
    properties: 
      resultcode:
        type: string
        example: "100"
      data:
        type: object
        properties: 
          processed:
            type: integer
            example: 1
          status:
            type: string
            example: "On"
          message:
            type: string
            example: "message example here"
      message:
        type: string
        example: Successful
  DeviceBattery:
    type: object
    properties: 
      resultcode:
        type: string
        example: "100"
      data:
        type: object
        properties: 
          processed:
            type: integer
            example: 1
          status:
            type: string
            example: "On"
          message:
            type: string
            example: "message example here"
          info:
            type: object
            properties: 
              parameter:
                type: string
                example: "Battery"
              status:
                type: string
                example: "100"
              datetime:
                type: string
                example: "2023-02-22T13:55:55.000Z"
      message:
        type: string
        example: Successful
  UnlockDoorInput:
    type: object
    properties:
      api_id:
        type: string
        example: Kx7wTKzom05IPiTxzDFd
      uuid:
        type: string
        example: 1a3de7ac-2cdb-43cc-8175-3a49a6ff9f9f
      timestamp:
        type: string
        example: "1666664898886"
    xml:
      name: "UnlockDoorInput"
  StatusDoorInput:
    type: object
    properties:
      api_id:
        type: string
        example: Kx7wTKzom05IPiTxzDFd
      uuid:
        type: string
        example: 1a3de7ac-2cdb-43cc-8175-3a49a6ff9f9f
      timestamp:
        type: string
        example: "1666664898886"
    xml:
      name: "UnlockDoorInput"
externalDocs:
  description: "Example HMAC Signature Generator"
  url: "https://www.devglan.com/online-tools/hmac-sha256-online"
